@import '../../_variables';

.map {
    height: calc(80vh - 50px);
    width: 70%;
    margin: 2rem;
    border: $border;
    border-radius: .5rem;
    overflow: hidden;

    .leaflet-container {
        height: 100%;

        .leaflet-popup-content {

            p {
            font-size: 1.2rem;
            }
        }
    }
}
